@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


/*------------------------------- 
top banner design section
-----------------------------  */
.top-banner {
    height: 75vh;
    background-color: #161616;
    border-radius: 30px;
    margin: 40px 120px;
    display: flex;
    justify-content: center;

}

.text-area {
    color: white;
    width: 60%;
    height: 100%;
    padding: 40px 0;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text-area h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 15px;
}

.text-area p {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 22px;
}

.watch-live-button {
    background-color: #DD0000;
    border-radius: 5px;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: inline-block;
    width: 170px
}

@keyframes colors {
    from {
        background-color: red;
    }

    to {
        background-color: rgb(25, 83, 209);
    }
}

.watch-live-button:hover {
    animation-name: colors;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

.image-area {
    width: 40%;
    height: 100%;
}

.image-area img {
    width: 100%;
    height: 100%;
    padding: 40px 30px 0 30px;
}

/*------------------------------- 
lower body part design section
-----------------------------  */

.lower-body {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 130px 120px;
}

/*---------------------
left side design
-----------------------*/

.left-side-button-container {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.left-side-button-container a {
    text-decoration: none;
    color: #161616;
    background-color: white;
    margin: 15px 0;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 12px 0;
    border-radius: 5px;
    width: 209px;
    /* height: 64px; */
}

.left-side-button-container a:hover {
    background-color: red;
    color: white;
}

#color-design {
    background-color: red;
    color: white;
}

#color-design:hover {
    animation-name: colors;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/*---------------------
right side design
-----------------------*/

.right-side-schedule-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
}

.time-schedule {
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px gray;
    padding: 30px 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.thumbnail{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.time-schedule .thumbnail img {
    height: auto;
}

.text-part {
    padding: 10px;
    width: 100%;
    text-align: center;
}
.text-part h3{
    font-size: 20px;
    margin: 13px 0px;
}
.text-part p {
    font-size: 14px;
    color: #4D4D4D;
}



/*--------------------
footer design
---------------------*/

footer {
    background-color: #161616;
    text-align: center;
    padding: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

hr {
    width: 100%;
}

footer .links {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

footer .links a {
    color: #B9B9B9;
    margin: 0 20px;
    text-decoration: none;
}

.social-media-icons {
    display: flex;
}

.social-media-icons a{
    text-decoration: none;
    color: black;
    background-color: white;
    margin: 0 20px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 100%;
}

.social-media-icons a:hover {
    color: white;
    background-color: rgb(25, 83, 209);
}

.social-media-icons i {
    font-size: 25px;
}


/*---------------------------------------------------------------------------------------------
                                                mobile device responsive
 ------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .main-body {
            margin: 10px 20px 25px 20px;
        }
    
        /*------------
        top banner design
        --------------------*/
        .top-banner {
            flex-direction: column;
            align-items: center;
            /* width: 100%; */
            height: 720px;
            margin: 0;
            border-radius: 10px;
            text-align: center;
            padding: 10px;
            padding-bottom: 0;
        }
    
        .text-area {
            padding: 20px 20px 10px 20px;
            width: 100%;
            height: auto;
            align-items: center;
        }
    
        .text-area h1 {
            font-size: 8vw;
            line-height: 50px;
        }
    
        .text-area p {
            font-size: 2.5vw;
        }
    
        .image-area {
            padding: 0 20px 0 20px;
            width: 100%;
            height: 100%;
        }
    
        .top-banner img {
            width: 100%;
            height: 100%;
            padding: 30px 0 0 0;
        }

    /*------------
lower body design
--------------------*/

    .lower-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 15px 10px;
    }

    /*---------------------
left side design
-----------------------*/

    .left-side-button-container {
        width: 250px;
        height: auto;
        background-color: white;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
        align-items: center;
    }

    #match-id {
        width: 220px;
    }

    .left-side-button-container a {
        text-decoration: none;
        color: #161616;
        background-color: white;
        margin: 8px 0;
        font-weight: 500;
        font-size: 17px;
        text-align: center;
        padding: 12px 0;
        border-radius: 15px;
        width: 180px;
        border: 1px solid rgba(128, 128, 128, 0.514);
    }

    /*---------------------
    right side design
-----------------------*/
    .right-side-schedule-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width: 100%;
    }

    .time-schedule{
        padding: 20px 10px;
    }
    .time-schedule .thumbnail img {
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    /*------------
footer design
--------------------*/
    footer {
        background-color: #161616;
        text-align: center;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer h3 {
        color: white;
        font-size: 30px;
        font-weight: 600;
        margin: 20px;
    }

    hr {
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.514);
    }

    footer .links {
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    footer .links a {
        color: #B9B9B9;
        margin: 0;
        padding: 20px 80px;
        text-decoration: none;
    }

    .social-media-icons a {
        display: flex;
        padding: 17px;
        margin-bottom: 20px;
    }
    .social-media-icons i {
        font-size: 20px;
    }

    .viewall-button {
        display: none;
    }

}

/*---------------------------------------------------------------------------------------------
                                                tab device responsive
 ------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .main-body {
        margin: 10px 20px 25px 20px;
    }

    /*------------
    top banner design
    --------------------*/
    .top-banner {
        margin: 0;

    }

    .text-area {
        padding-left: 40px;
        width: 50%;
    }

    .text-area h1 {
        font-weight: 700;
        font-size: 3.7vw;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .text-area p {
        font-weight: 400;
        font-size: 1.7vw;
        margin-bottom: 15px;
    }

    .watch-live-button {
        width: 100px;
        padding: 20px 30px;
    }

    .image-area {
        /* display: flex; */
        width: 50%;
        height: 100%;

    }

    .image-area img {
        width: 100%;
        height: 100%;
        padding: 40px 20px 0 5px;
    }

    .watch-live-button {
        background-color: #DD0000;
        border-radius: 5px;
        padding: 5px 8px;
        text-decoration: none;
        color: white;
        font-size: 12px;
        display: inline-block;
    }

    /*------------
lower body design
--------------------*/

    .lower-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 15px 10px;
    }

    /*---------------------
left side design
-----------------------*/

    .left-side-button-container {
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
        align-items: center;
    }

    #match-id {
        width: 100%;
        padding: 12px 8px;
    }

    .left-side-button-container a {
        text-decoration: none;
        color: #161616;
        background-color: white;
        margin: 8px 10px;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        padding: 12px 8px;
        border-radius: 10px;
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.514);
    }

    /*---------------------
    right side design
-----------------------*/
    .right-side-schedule-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .time-schedule {
        /* border-radius: 0; */
        /* box-shadow: 0px 0px 0px 1px gray; */
        /* padding: 50px 10px; */
        /* height: fit-content; */
        /* display: flex; */
        /* flex-direction: row; */
        /* align-items: center; */

    }
    .thumbnail {
        display: flex;
        align-items: center;
        gap: 10px;
        /* width: 80%; */
    }

    .time-schedule .thumbnail img {
        width: 100%;
        /* height: 200px; */
        /* border-top-left-radius: 10px; */
        /* border-top-right-radius: 10px; */
    }

    #hide-article {
        display: none;
    }

    .viewall-button {
        margin-top: 30px;
        background-color: #DD0000;
        border-radius: 5px;
        padding: 10px 35px;
        text-decoration: none;
        color: white;
        font-size: 16px;
        display: inline-block;
        text-align: center;
    }

    .viewall-button:hover {
        animation-name: colors;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;

    }

    /*------------
footer design
--------------------*/
    footer {
        background-color: #161616;
        text-align: center;
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    footer h3 {
        color: white;
        font-size: 30px;
        font-weight: 600;
        margin: 50px 0 20px 0;
    }

    hr {
        width: 90%;
        border: 1px solid rgba(128, 128, 128, 0.514);
    }

    footer .links {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .social-media-icons a {
        padding: 17px;
    }

    footer .links a {
        color: #B9B9B9;
        margin: 0;
        padding: 0;
        margin: 15px 35px;
        text-decoration: none;
        font-size: 16px;
    }

}